body {
  background-color: #92CBF7;
  background-size: cover;
}

p1 {padding: .5%}

nav {
  list-style-type: none;
  background-color: #FADCFA;
  width: 100%;
  overflow: hidden;
  position: fixed;
  left: 0;
  top: 0;
  margin: 0;
}

li a {
  float: left;
  display: block;
  color: #D692F7;
  text-decoration: none;
  padding: 15px 50px;
}

li a:hover {
  background-color: #92CBF7;
  color: black;
}

.wrapper {
  display: grid;
  grid-template: 
      "A B C" auto
      "D E F"
      "G ";
  grid-template-columns: 20% 60% 20%;
  grid-row-gap: 4%;
  grid-column-gap: 2%;
  border: none;
height: 100vh;
grid-template-columns: auto auto auto;
background-color: white;}

div {
  background-color: #FADCFA ;
  border: solid 1px black;}

.A {grid-column: 1/4;
  display: inline-block;
  padding: 1%;
  color: black;
}

.B {padding: 2%;
justify-content: center}

.C {padding: 2%;
justify-content: center}

.D {padding: 2%;
justify-content: center}

.E {padding: 2%;
justify-content: center}

.F {padding: 2%;
justify-content: center}

.G {padding: 2%;
justify-content: center}

h4:hover {
 text-decoration: underline
}


#cart {width: 5%;
  float: left}
  
  #store_art {float:center}
  
  @media screen and (max-width: 1024px) {
  .wrapper {
    flex-direction: row;
  }
}
